/*media Querties*/

@media (max-width: 768px) {
    .logo{
      margin-left: 100%;
    }  
  }

  @media (min-width: 1366px){
    #ducation .card{
      width: 50px;
    }
  }


/*body*/
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0rem;
}

body::before{
    display: block;
    content: "";
    height: 60px;
}

* {
    box-sizing: border-box;
  }

.container{
    width: 80%;
    height: auto;
}

/*navbar*/
#navmenu a:hover, i:hover{
  color: aquamarine;
  font-size: 30px;
}

#contact a:hover{
  color: aquamarine;
  font-size: 30px;
}

#nav-bar{
    background-color: #212121;
}

#nav-bar li{
    padding-left: 10px;
    padding-right: 10px;
}

#navmenu div{
  height: 500;
  width: 400;
}

.social-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

  
/*Main Home Page*/

#show-case img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
}

.svg-large {
  width: 30px;
  height: 30px;
}

/* Home Page */


#education-flexbox .card{
  height: auto;
  width: 80vw;
  overflow: hidden;
  flex-shrink: 1;
  
}


#education-flexbox .card p{
  margin: 0px;
  padding: 0px;;
}

.glass{
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,255,0.18); 
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}