:root{
    --bg-color: rgb(20,20,20);
}

body{
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 922px;
    width: calc(100%-20px);
}

.card{
    background: rgba(255,255,255,0.02);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    cursor: pointer;
    height: 260px;
    position: relative;
    width: 300px;
}

.card::before{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255,255,255,0.06), 
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}

